.index-header {

    color: black;
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-weight: bold;
    background-color: lightblue;
    margin-top: 0%;
    padding: 16px;
}

.index-paragraph {

    font-family: 'Baloo Tammudu 2', sans-serif;
    color: black;
    font-size: 18px;
}

main {
    font-family: 'Baloo Tammudu 2', sans-serif;
}

.first-group {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-main {

    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}

.first-section {
    margin-left: 2%;
}

.second-section {

    margin-left: 5%;
    padding: 4px;
}

.third-section {

    margin-left: 5%;
}

.second-main {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-top: 0;
    
}

.first-paragraph {
    margin-left: 6%;
}

.second-paragraph {

    margin-left: 16%;
    margin-right: 3%;
}

.third-paragraph {
    margin-left: 8%;
}

.merchant-tag {

    font-family: 'Baloo Tammudu 2', cursive;
    display: block;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 2);
    padding: 10px;
    list-style: none;
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    justify-content: space-between; 
    font-size: 24px; 
    background-color: lightblue;
    color: white;
    box-shadow: 5px 10px gray;

}
.icons {
    display: flex;
    justify-content: space-evenly;
}
.name {
    margin-left: 42%;
    display: flex;
    align-self: center;
}

.merchant-head {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kufam', cursive;
}

.name-tag {
    margin-left: 35%;
    /* display: flex;
    align-items: center; */

}

.add-merchant {

    border-radius: 8px;
}

 .merchant-fill {

    font-family: 'Baloo Tammudu 2', cursive;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 2);
    font-size: 15px; 
    color: black;
} 

.addition {

    margin-left: 20px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.trackbar {

    margin-top: 4%;
    display: flex;
    flex-direction: column;

}

 progress[value]::-webkit-progress-value {
    background-image:

         -webkit-linear-gradient(left, green, orange, red);
  
      border-radius: 2px; 
    
}  

progress
{
  text-align:center;
  height: 1.5em;
  width: 30%;

  -webkit-appearance: none;
  border: none;
}

.good-spending
{
    background-color: lightblue;
    font-family: 'Kufam', cursive;
    padding: 12px;
    width: 35%;
    margin-left: 10px;
}

.spend {

    background-color: firebrick;
    font-family: 'Kufam', cursive;
    padding: 12px;
    width: 35%;
    margin-left: 10px;
    color: white;
}

.amount
{

    margin-top: 1%;
    font-family: 'Kufam', cursive;
    padding: 12px;
    width: 35%;
    margin-left: 10px;
    background-color: lightblue;
}

.transaction-header {
    margin-left: 10px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 32px;
}



