.wel {

   font-size: 48px;
   background-color: lightblue;
   /* padding: 2px; */
   font-family: 'Baloo Tammudu 2', cursive;
}

.instructions {

    display: flex;
    justify-content: space-around;
    padding: 16px;
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: lightblue;
}

.instruction-head {

    text-align: center;
    font-size: 20px;
}

.merchant-instruction {

    padding: 6px;
}

.before-instructions {

    padding: 6px;
    margin-right: 20px;
    font-family: 'Baloo Tammudu 2';
}