{% extends 'base.html' %}
{% block content %}

<header class="index-header">
    <h1 style="font-weight: bolder;"><b>Discover how to manage YOUR Money with Cash App</b></h1>
    <p class="index-paragraph"> If you are looking to monitor your spendings, and check how much you spend monthly or daily, <br> 
    then this app is for you. You can keep track of how much you spent, <br> what merchant you bought from and what product you spent your money it on. <br> Its hard to keep track of expenses, luckily we are here to help.
    </p>
</header>

<main>
    <hgroup class="first-group">
        <h2>3 Easy Steps to Track your Spendings</h2>
        <h4>These steps help you get started</h4>
    </hgroup>
    <section class="first-main">
        <section class="first-section">
            <img src=https://media.moneydashboard.com/illustrations/spots/accounts_device.svg alt="blank">
        </section>
        <section class="second-section">
            <img src=https://media.moneydashboard.com/illustrations/spots/category_targets_row.svg alt="blank" class="second-picture">
        </section>
        <section class="third-section" >
            <img src="https://media.moneydashboard.com/illustrations/spots/reaching_for_lanterns.svg" alt="blank">
        </section>

    </section>
    <section class="second-main">
        <section class="first-paragraph">
            <h3>Create a free account</h3>
            <form action="/home">
                <button type="submit" class="signin-btn">Login</button>
            </form>
        </section>
        <section class="second-paragraph">
            <h3>Envisiage the Bigger picture</h3>
        </section>
        <section class="third-paragraph">
            <h3>Reach Out to your potential and <br> master the art of saving</h3>
        </section>
    </section>
</main>


{% endblock  %}