{% extends 'base.html' %}

{% block content %}


<h2 class="transaction-header"> List of Transactions</h2>



<table border="1" class="transaction">

    <tr>
        <th>Merchant</th>
        <th>Tag</th>
        <th>Amount(£)</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.merchant.name }}</td>
        <td>{{ transaction.tag.name}}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.date }}</td>
        <td>
            <section class="actions">
                <a href="/transactions/{{ transaction.id }}/edit"><span>&#9998;</span></a>
    
                <form action="/transactions/{{ transaction.id }}/delete" method="post">
                    <input type="submit" value=&#128465; class="trash-button">
                </form>        
            </section>
        </td>

    </tr>
    {% endfor %} 
</table>

<div class=trackbar>

    <section>
        {% if track < 90  %}
        <section class="good-spending">
            <label for="budget track">{{ track }}% of budget spent:</label>
            <progress id="prog" value={{track}} max=100>Progress</progress> 
        </section>
         

        {% elif track >= 90 %}
        <section class="spend">
            <label for="budget track"> Watch Your spending:</label>
            <progress id="prog" value={{track}} max=100>Progress</progress>  
        </section>
        {% endif %}
    </section>
    <section class="amount">
        Total Amount Spent: £{{ total_amount }}
    </section>
    
</div>

    
{% endblock  %}